@media (min-width: 1024px){
    /* ================================================================================
                                       Geral
    ===================================================================================*/
   body{
        overflow:auto;
        width: 100%;
   }
    .wrapper{
        width: min(112rem , 100%);
        display:grid;
    }

    section{
        padding-block:16rem;
    }

    section h2{
        font-size:4rem;
        line-height:5.2rem;
    }

    .col-a{
        grid-area: A;
    }

    .col-b{
        grid-area: B;
    }

    /* ================================================================================
                                      nav
    ===================================================================================*/

    nav#navigation .wrapper * {
            margin:0;
            padding:0;
            position: initial;
            flex-direction: initial;
            display: initial;
            font-size:initial;
            visibility: initial;
            transform:initial;
            color:initial;
            background-color: initial;
            border:none;
            text-decoration: initial;
        }

        nav#navigation .close-menu,
        nav#navigation .open-menu,
        nav#navigation .redes-sociais{
            display:none;
        }

        nav#navigation {
            display: flex;
            align-items: center;
            height:7.2rem;
        }

        nav#navigation .menu {
            display:flex;
            align-items:center;
            justify-content:space-between;
            width:60%;
        }

        nav#navigation .menu ul:nth-child(1){
            display: flex;
            gap:3.2rem;
            align-items: center;
        }

        nav#navigation .menu ul li a{
            font-size:1.6rem;
            line-height:2.1rem;
            color:var(--brand-green);
            opacity:0.7;
            padding-block:2.4rem;
        }

        nav#navigation .menu .button{
            font-size:1.4rem;
            line-height:1.8rem;
            color:var(--brand-green);
            border:1px solid var(--brand-green);
            padding:1rem 2.4rem;
            border-radius: 4rem;

            transition:300ms;
        }

        nav#navigation .menu .button:hover{
            background-color:var(--brand-green);
            color:var(--green-light);
        }

        nav#navigation.scroll .menu .button:hover{
            background-color: var(--green-light);
            color:var(--brand-green);
        }
        nav#navigation .menu ul li a{
            display:inline-block;
            height:100%;
        }

    /* ================================================================================
                                       scroll
    ===================================================================================*/

        nav#navigation.scroll .menu .button,
        nav#navigation.scroll .menu ul li a{
            color:white;
        }

        nav#navigation.scroll .menu .button{
            border:1px solid white;
        }

        nav#navigation .menu ul li.borderMenu {
            border-bottom:2px solid var(--brand-green)
        }
       
        nav#navigation .menu ul li.borderMenu a {
            opacity:1;
        }
        
        nav#navigation.scroll .menu ul li.borderMenu{
            border-bottom:2px solid white;
            opacity:1;
        } 

    /* ================================================================================
                                      home
    ===================================================================================*/
    #home {
       padding-top: var(--nav-height);
    }

    #home header::before{
        height:calc( 80% + var(--nav-height) );
    }
    #home .wrapper{
        grid-template-columns: 60% 40%;
        grid-template-areas: 
        'A B'
        'C C';
    }

    #home .col-a{
        text-align: left;
        align-self: center;
    }


    #home .conteiner{
        grid-area:C;
        flex-direction:row;
        padding:6rem;

        gap:0;
    }

    #home img{
        width:42rem;
    }

    /*  .intes+ itens vai selecionar TODAS as propriedades que tiverem itens antes ou seja vai pegar todas menos a primeira*/
    #home .conteiner .itens + .itens{
        border-left:1px solid var(--brand-green);
    }

    /* quando o conteiner é flex a propriedade flex nos itens divide o espaço ocupado de forma igual */
    #home .conteiner .itens{
       flex:1;
    }

    #home h1{
        font-size: 5.2rem;
line-height: 130%;
    }

    #home .button-whats{
        margin:0;
    }
    /* ================================================================================
                                    Services
    ===================================================================================*/
    #services h2{
        width:49rem;
        margin-inline:auto;
    }
 
    /* flex-wrap faz com que os itens se ajustes dentro da div */
    #services .cards{
        flex-direction: row;
        flex-wrap:wrap;
    }

    /* flexx-grow faz os itnes crescerem e ocuparem os espaços que sobram */
    #services .cards .card{
        width:30%;
        flex-grow: 1;
    }

    /* ================================================================================
                                    about
    ===================================================================================*/
    #about .wrapper{
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'B A';
        gap:6.7rem;
    }

    #about .wrapper img{
        width:48rem;
    }

    #about .wrapper .col-a{
        align-self: center;
    }

    #about .wrapper p{
       margin-bottom: 0;
    }

    /* ================================================================================
                                   contatos
    ===================================================================================*/

    #contato .wrapper{
        grid-template-columns: 2fr 3fr;
        grid-template-areas: 'A B';
        gap:14.1rem;
    }

    #contato .wrapper .col-a{
        align-self: center;
        /* align-items: left; */
        width:40.4rem;
    }
    
    #contato .wrapper img{
        /* width:57.5rem; */
        margin-block:0;
    }

    #contato .wrapper .button-whats{
        margin:0;
    }
   
    /* ================================================================================
                                   footer
    ===================================================================================*/
     
    footer .wrapper {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'A B';
    }
  
    footer .col-a{
        align-items: center;   
    }

    footer .col-b{
       margin-right:0;
       margin-block:auto;
    }

    #redesSocias-footer{
       justify-content:right;
       margin-right: 0;
       /* margin-block:auto; */
    }

    /* ================================================================================
                                   button
    ===================================================================================*/

    #ToTopButton.color svg circle{
        fill:var(--brand-green-light);
     }
     
     #ToTopButton.color svg path{
       stroke:var(--brand-green);
     }
}