@media (min-width: 1024px){
    /* ================================================================================
                                       Geral
    ===================================================================================*/
    .wrapper{
        width: min(112rem , 100%);
        display:grid;
    }
   
    nav#navigation .wrapper * {
            margin:0;
            padding:0;
            position: initial;
            flex-direction: initial;
            display: initial;
            font-size:initial;
            visibility: initial;
            transform:initial;
            color:initial;
            background-color: initial;
            border:none;
            text-decoration: initial;
        }

        nav#navigation .close-menu,
        nav#navigation .open-menu,
        nav#navigation .redes-sociais{
            display:none;
        }

        nav#navigation {
            display: flex;
            align-items: center;
            height:7.2rem;
        }

        nav#navigation .menu {
            display:flex;
            align-items:center;
            justify-content:space-between;
            width:60%;
        }

        nav#navigation .menu ul:nth-child(1){
            display: flex;
            gap:3.2rem;
            align-items: center;
        }

        nav#navigation .menu ul li a{
            font-size:1.6rem;
            line-height:2.1rem;
            color:var(--brand-green);
            opacity:0.7;
            padding-block:2.4rem;
        }

        nav#navigation .menu .button{
            font-size:1.4rem;
            line-height:1.8rem;
            color:var(--brand-green);
            border:1px solid var(--brand-green);
            padding:1rem 2.4rem;
            border-radius: 4rem;

            transition:300ms;
        }

        nav#navigation .menu .button:hover{
            background-color:var(--brand-green);
            color:var(--green-light);
        }

        nav#navigation.scroll .menu .button:hover{
            background-color: var(--green-light);
            color:var(--brand-green);
        }
        nav#navigation .menu ul li a{
            display:inline-block;
            height:100%;
        }

        /* ================================================================================
                                       scroll
    ===================================================================================*/

        nav#navigation.scroll .menu .button,
        nav#navigation.scroll .menu ul li a{
            color:white;
        }

        nav#navigation.scroll .menu .button{
            border:1px solid white;
        }

        nav#navigation .menu ul li.borderMenu {
            border-bottom:2px solid var(--brand-green)
        }
       
        nav#navigation .menu ul li.borderMenu a {
            opacity:1;
        }
        
        nav#navigation.scroll .menu ul li.borderMenu{
            border-bottom:2px solid white;
            opacity:1;
        } 

          /* ================================================================================
                                      home
    ===================================================================================*/

    #home .wrapper{
        grid-template-columns: 50% 50%;
    }
    }