*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    /* cores */
:root{   
    --brand-green:#00856F;
    --brand-green-light:#DCE9E2;
    --green-light : #DCE9E2 ;
    --ultra-green:#F7F9F9;
    --beige:#FFFAF1;
    --dark-green:#00453A;
    --brand-green-hover:#00453A;
    --gray-headline:#212529;
    --gray-paragrap: #495057;
   

    --nav-height: 7.2rem;
    font-size:63.5%;
}

html{
    scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
}

body{
    font-family: 'DM Sans', sans-serif;
    font-weight:700;
    text-align: center;

    overflow:overlay;
    /* ovelay vai desconiderar o tamanho da barra de rolagem */
    
    width:100vw;
    background-color: var(--ultra-green);
}

.wrapper{
    width: min(50rem , 100%);
    margin-inline: auto;
    padding-inline: 2.4rem;
}

section{
    padding-block:10rem;
}

img {
    max-width: 100%; 
}


ul{
    list-style:none;
}

h2{
    font-size:3rem;
    line-height:3.9rem;
    color:var(--gray-headline);
}

p{
    font-size:1.6rem;
    color:var(--gray-paragrap);
    font-weight: 400;
}
/* ================================================================================
                                   Navigation
===================================================================================*/
nav {
    display:flex;

    height:var(--nav-height);

    position:fixed;
    top:0;
    /* left:50%;
    transform:translateX(-50%); */

    width: 100vw;

    z-index: 100;
}

nav .wrapper{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

nav svg:nth-child(2) path{
     stroke:#00856F;
}

nav.scroll{
    background:var(--brand-green);
}

nav.scroll .logo path{
    fill:white;
}

nav.scroll .open-menu svg path{
    stroke:white;
}

nav button {
    background: none;
    border: none;
    cursor: pointer;
  }


/* ================================================================================
                                expanded menu
===================================================================================*/
body.menu-expanded {
    overflow: hidden;
  }

  body.menu-expanded > :not(nav){
    visibility:hidden;
  }

.menu,
.close-menu,
body.menu-expanded .open-menu {
    visibility:hidden;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu{
    visibility: visible;
}

.menu {
    transform: translateY(100%);
    position:fixed;
  }

.close-menu{
    position: fixed;
}

body.menu-expanded .menu{
    position:fixed;
    top:0;
    left:0;
    background-color: var(--brand-green);

    width:100vw;
    height:100vh;

    padding-top: var(--nav-height);

    transition: transform 300ms;
    transform: translateY(0);
}


body.menu-expanded .logo{
    position:relative;
    z-index:100;
}

body.menu-expanded .logo svg path{
    fill:white;
}

body.menu-expanded nav button{
    position: relative;
    z-index:100;
}
body.menu-expanded .menu  ul:nth-child(1){
    display:flex;
    flex-direction:column;
    gap:4.8rem;
    margin-top:var(--nav-height);
}

body.menu-expanded .menu ul li a{
    color:var(--beige);
    text-decoration: none;
    font-size:2.4rem;
    line-height:3.1rem;
}

.menu .button{
background: white;
border-radius: 4rem;
font-weight: 700;
font-size: 1.8rem;
text-transform: uppercase;
text-decoration: none;

color: var(--brand-green);

display: inline-block;
padding: 16px 32px;
border: 1px solid var(--brand-green);

margin-top: 4.8rem;
margin-bottom: 8rem;
}

.menu .button:hover{
    background-color: var(--brand-green);
    color:white;
    border: 1px solid white;
    
}

.redes-sociais{
    display:flex;
    align-items: center;
    justify-content:center;
    gap:3.2rem;
}

/* ================================================================================
                                       home
===================================================================================*/

#home{
    padding-bottom: 0px;
    padding-top: calc(4.1rem + var(--nav-height) );
}

/* o before define que antes do primeiro elemento do header ele vai fazer algo
 */
#home header::before{
    display:block;
    position:absolute;
    content:"";
    width:100%;
    height:calc( 108rem + var(--nav-height) );
    z-index:-1;
    background-color: var(--green-light);
    top:0;
    left:0;
}

header .titulo-1{
    color:var(--brand-green);
    font-size: 1.4rem;
    margin-bottom: 1.6rem;
}

 header h1{
    font-size:3.4rem;
    color:var(--gray-headline);
    line-height: 130%;
    margin-bottom: 2.4rem;
}

.content #p1{
    font-size: 1.8rem;
    line-height: 150%;
    margin-bottom: 3.2rem;
}

.button-whats{
    background-color: var(--brand-green);

    padding:1.6rem 3.2rem;
    width:fit-content;
    /* fit content vai dar o padding do conteudo 
    pois o botao primariamente vai ocupar toda a largura disponivel */

    text-transform: uppercase;

    display: flex;
     align-items: center;
   justify-content: center;
    gap:1.6rem;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border:none;
    margin-bottom: 6rem;
    border-radius: 4rem;

    text-decoration: none;
    transition: background 300ms;
}

 .button-whats:hover{
   /* filter:brightness(1.5); */
   background-color:var( --brand-green-hover);
}

.button-whats span {
    color:#FFFFFF;
    font-size:1.4rem;
}

#home .button-whats{
   margin-inline:auto;
}
img{
    width:26.3rem;
    display:block;
    margin-inline:auto;
    object-position: 0 2rem;
}
/* ================================================================================
                                Itens de informaçao
===================================================================================*/
.conteiner{
    width: 100%;
    /* padding block muda o pading em cima e em baixo */
    padding-block:4rem;

    background-color: var(--beige);

    border-radius: 0.6rem;
    border: 1px solid var(--brand-green-light);

    display:flex;
    flex-direction:column;
    justify-content:center;
    gap:6rem;
}

.conteiner p{
    color:var(--brand-green);
    line-height: 150%;
}

.conteiner h3{
    font-size: 4.8rem;
    color:var(--gray-headline);
    font-weight: bold;
    line-height: 130%;
}


/* ================================================================================
                                       Services
===================================================================================*/

#services header h3{
    color:var(--brand-green);
    font-size:1.4rem;
    line-height:150%;
    margin-bottom:1.6rem;
    text-transform:uppercase;
    letter-spacing: 0.08rem;
}

#services header h2{
    text-align: center;
    margin-bottom:6rem;
}

#services .cards{
    display: flex;
    flex-direction:column;
    gap:3.2rem;

}

#services .card{
    padding:2.4rem;
    text-align: left;
    border:1px solid var(--green-light);
    border-radius:.6rem;
    background-color:#FFFFFF;
}

#services .card h3{
    font-size:2.4rem;
    margin-block:1.6rem;
    color:var(--gray-headlin)
}


/* ================================================================================
                                      ABout
===================================================================================*/

#about{
    text-align: left;
    padding-block: 10rem;
    background-color:var(--beige);
}

#about h3{
     font-size:1.4rem;
     line-height:2.1rem;
     letter-spacing: 8%;
     text-transform: uppercase;
     color:var(--brand-green);
     margin-bottom: 1.6rem;
}

#about h2{
    margin-bottom: 2.4rem;
}

#about p{
    margin-bottom: 6rem;
}

#about img{
  width: 100%;
}

/* ================================================================================
                                       contato
===================================================================================*/
#contato{
   text-align:left;
}


.contatos{
    font-size:1.4rem;
    color:var(--gray-paragrap);
    display:flex;
    align-items: center;
    gap:.8rem;
}

.contentContatos{
    display: flex;
    flex-direction: column;
    gap:1.6rem;
    margin-block: 3.2rem;
}


#contato .wrapper img{
    width:100%;
}

/* ================================================================================
                                      footer
===================================================================================*/
footer{
    /* height: 28.5rem; */
    background-color: var(--brand-green);
    padding-block: 6rem;
    text-align: left;
}

#redesSocias-footer{
    display: flex;
    gap:3.2rem;
   justify-content:left;
   margin-top: 3.2rem;
}

.rodape{
    margin-top:2.4rem;
    display:flex;
    flex-direction:column;
    gap:1.2rem;
    color:var(--beige);
    font-size: 1.6rem;
    line-height: 2.1rem;
    
}

#logoFooter{
    display:inline-block;
    /* os itens a nao aceitam margem ne altura porque sao naturalmente
    display inline quando coloca inline block para destravar esssas propriendades*/
}


/* ================================================================================
                            Botao que volta pro topo
===================================================================================*/

#ToTopButton{
   position:fixed;
   bottom: 2rem;
   right:2rem;

   opacity: 0;
   visibility:hidden;

   transform:translateY(100%);
   transition:300ms;
}


#ToTopButton.show{
    opacity:1;
    visibility:visible;

    transform: translateY(0);
}

#ToTopButton.color svg circle{
   fill:var(--brand-green-light)
}

#ToTopButton.color svg path{
  stroke:var(--brand-green);
}